body {
  background-color:pink;
}

h1 {
  color: blue;
  font-size: 3em; 
}

h2 {
  color: green;
  font-weight: normal;
  font-style: italic;
}

.completed {
  font-family: Papyrus;
}

#tasks .completed {
  background-color: red;
  text-decoration: underline;
}